- @title = 'Contact Us'

%h3 IRC

Probably the fastest and most reliable way to contact anyone involved with LEAP. Don't despair if you don't get a reply right away, we are all in different time zones and we all are able to read the scrollback history, so someone will reply eventually.

.well
  \#leap on freenode.net

%h3 Email

Email is pretty good too.

.well
  info@leap.se

%h3 Postal Address

It may take us a very long time to respond to postal mail.

.well
  PO Box 4422
  %br
  Seattle, WA 98194 USA

%h3 Phone (Voice Mail)

Leave us a message, bonus points if you sing your message.

.well
  +1 (206) 420-6613



