- @title = "Download"

.row
  .col-xs-4.text-center
    %i.fa.fa-4x.fa-download
    %div
      [[Bitmask client application => https://dl.bitmask.net]]<br>
      for end-users.
  .col-xs-4.text-center
    %i.fa.fa-4x.fa-tasks
    %div
      [[LEAP server platform => platform]]<br>
      for service providers.
  .col-xs-4.text-center
    %i.fa.fa-4x.fa-code-fork
    %div
      [[Source code => source]]<br>
      for hackers.

