- @title = "Support encryption tools for journalists"
- @author = "Elijah"
- @posted_at = "2013-12-08"
- @more = false
- @preview = capture_haml do
  Freedom of the Press Foundation has launched a crowd fundraising <a href="https://pressfreedomfoundation.org/?123">campaign to support encryption tools</a> for journalists, and LEAP is one of the receiving projects. It is an honor to be amoung Tor, Tails, and WhisperSystems.
