- @title = "LEAP article in Columbia Journalism Review"
- @author = "Elijah"
- @posted_at = "2014-01-10"
- @more = false
- @preview = capture_haml do
  The Columbia Journalism review has a nice <a href="http://www.cjr.org/behind_the_news/leap_email.php">introduction to LEAP encrypted email</a> and the importance of secure communication for journalists.
