- @title = 'Google Summer of Code 2014'
- @author = 'Mcnair'
- @posted_at = '2014-04-24'
- @more = false
- @preview = capture_haml do
  %div{:style => 'float:right; margin: 8px; margin-right: 0;'}
    %img{:src => "/img/pages/gsoc.png"}
  %p LEAP has selected three Google Summer of Code projects that we are really excited about. One focuses on improving Soledad transport, another on better Windows integration, and a third on adding obfsproxy to the encrypted internet proxy. Congratulations to the students who submitted these projects, they stood out above the rest of the proposals.
  %p In the coming months, stay tuned for updates on the progress made to these Google Summer of Code projects.
