- @title = "The big seven hard problems in secure communication"
- @author = "Elijah"
- @posted_at = "2013-08-22"
- @more = true
- @preview = capture_haml do
  If you take a survey of interesting initiatives to create more secure communication, a pattern starts to emerge: it seems that any serious attempt to build a system for secure message communication eventually comes up against the following list of seven hard problems. These problems appear to be present regardless of which architectural approach you take (centralized authority, distributed peer-to-peer, or federated servers).

= render :page => 'hard-problems'