- @title = 'Jobs'

:textile

  h1(first). About LEAP

  "LEAP Encryption Access Project":https://leap.se/en is a non-profit dedicated to giving all internet users access to secure communication. Our focus is on adapting encryption technology to make it easy to use and widely available.

  * We are a team of 10 dedicated and experienced anti-surveillance hackers.
  * We started development in earnest on June 1 2011.
  * We are globally distributed in Europe, South America, North America, and South Korea (Yep, it is hard to schedule meetings).
  * We have an established agile development process that works.
  * Everything we do is licensed as free software (GPL whenever possible).
  * People of color, women, and queer people are strongly encouraged to apply.

  h1. Open Positions

  Currently, we have no open positions, but we would love to hear from you anyway. Please contact mcnair@leap.se

-#
  h1. Open Positions

  h2. Lead Python Developer

  !>/img/pages/python-logo.png!

  We are hiring a lead Python programmer to shepherd the development of the LEAP Client. The LEAP Client is a desktop application that connects to a larger cloud-based system to provide end-to-end client-side encryption over many different protocols (like email and chat). The app is mostly headless, speaking to the servers via a client-encrypted sync to distributed databases and to local clients via traditional protocols like IMAP, SMTP, and XMPP. We are looking for someone who can take a leading role in overall design of the client (and related protocols), provide direction for development, work collaboratively with a small team of hackers, and assure clean code.

  <!-- This position presents some unique challenges! The team is globally distributed and comprised of independent people who generally prefer collective and non-hierarchical systems. Ideally we would find someone who is excited about thinking creatively and non-traditionally about a lead role. -->

  What we are looking for, via a list of many bullets:

  * Many years of experience with Python
  * Clear understanding of public key cryptography and experience using cryptographic libraries
  * Burning desire to secure communications from prying eyes and snooping algorithms
  * Uncontrolled obsession with free and open source software
  * Experience with architecture of large applications
  * Love of clean code
  * Ability to take on a leadership role
  * Enthusiasm for working collaboratively
  * Good testing practices
  * Experience with cross-platform development
  * Ability to understand and work with complex distributed systems
  * Self-motivated and able to effectively work remotely

  Compensation rates are high for US non-profits and low for the US tech industry. This could be a full-time or part-time position, as desired.

  h2. Android Developer

  !>/img/pages/android-logo.jpg!

  We are hiring a programmer for ongoing Android development, including porting the LEAP Client to Android and writing a client-encrypted sync provider that integrates with the LEAP data storage. Many of the key components on which the client will depend have already been ported to Android, such as openvpn, sqlcipher, and u1db. Like its desktop counterpart, the goal with the Android client is to have a minimal UI that auto-configures itself with the service provider. We will only support Android 4.0 and above (earlier releases don't have "VpnService":http://developer.android.com/reference/android/net/VpnService.html API).

  What we are looking for, via a list of many bullets:

  * Experience with Android application development
  * Familiarity with public key cryptography and (ideally) experience with BouncyCastle
  * Enthusiasm for working collaboratively
  * Good testing practices
  * Burning desire to secure communications from prying eyes and snooping algorithms
  * Uncontrolled obsession with free and open source software

  Compensation rates are high for US non-profits and low for the US tech industry. This could be a full-time or part-time position, as desired.