- @title = "Big thanks to Access for supporting LEAP"
- @author = "Mcnair"
- @posted_at = "2012-12-11"
- @preview = capture_haml do
  Last night I attended the awards party for Access Innovation Prize, not knowing what to expect. The prize is for people and organizations using <a href="https://www.accessnow.org/blog/2012/12/11/first-annual-access-innovation-awards-prize-winners-announced">"information technology to promote and enable human rights and deliver social good"</a>. It turns out, geeks on a mission know how to do good and have a good time!

  %div{:style => 'float:left; margin: 8px; margin-left: 0;'}
    %img{:src => "/img/pages/access-prize-small.jpg"}
    %span{:style => "font-size: 80%; line-height: 0.8em; display: block; margin-top: 4px;"}
      My, that disc is shiny.

  %br

  LEAP was a finalist in the "Making Crypto Easy" category, but the competition was impressive and deserving. I nearly popped a blood vessel when I heard LEAP called as the winner! Big thanks to <a href="https://www.accessnow.org">Access</a> and all the techies and innovators they assembled. It was an excellent party, and a stellar collection of dedicated technologists. On behalf of LEAP, I am humbled and extremely thankful for this prize. Now we get down to putting the prize money to work...
